body {
  margin: 0px auto;
  width: 80%;
  font-family: "Roboto", sans-serif;
}

pre {
  border: solid 2px black;
  padding: 10px;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 30vh;
}
#nav-ul {
  border: 1px solid black;
  display: flex;
  margin: 0px;
  padding: 0;
  flex-flow: row wrap;
}
#nav-ul li {
  list-style: none;
  padding: 20px;
  margin: 4px;
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
}

.string {
}

.url {
  text-decoration: none;
  color: gray;
}

#apiLink {
  text-decoration: none;
  color: black;
}
.number {
  background: rgb(206, 228, 255);
}
.boolean {
  background: rgb(255, 215, 189);
}
.colourSquare {
  margin: 4px;
  min-width: 30px;
}
dl {
  display: flex;
  flex-flow: row wrap;
  border: solid #333;
  margin: 1px 0px;
  border-width: 1px 1px 0 0;
}
.title {
  font-weight: bolder;
  font-size: larger;
}
dt {
  flex-basis: 20%;
  padding: 2px 4px;
  background: #333;
  text-align: right;
  color: #fff;
}
dd {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 2px 4px;
  border-bottom: 1px solid #333;
}
